<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleforgot.css') }}">
</head>

<body>
    <div class="main">
        <h1>Forgot Password</h1>
        <form method="POST" action="{{ url_for('forgot_password.forgot_password') }}">
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Send Reset Link</button>
        </form>
        <a href="{{ url_for('login') }}">Back to Login</a>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>